
Source/obj/Debug/Plague.dll
Source/obj/Debug/ProjectHeron.dll
Source/.idea/.idea.Duskilor/.idea/.name
Source/.idea/.idea.Duskilor/.idea/contentModel.xml
Source/.idea/.idea.Duskilor/.idea/indexLayout.xml
Source/.idea/.idea.Duskilor/.idea/modules.xml
Source/.idea/.idea.Duskilor/.idea/workspace.xml
Source/.idea/.idea.Duskilor/riderModule.iml
Source/.idea/.idea.ProjectHeron/.idea/.name
Source/.idea/.idea.ProjectHeron/.idea/contentModel.xml
Source/.idea/.idea.ProjectHeron/.idea/indexLayout.xml
Source/.idea/.idea.ProjectHeron/.idea/modules.xml
Source/.idea/.idea.ProjectHeron/.idea/workspace.xml
Source/.idea/.idea.ProjectHeron/riderModule.iml
Source/.vs/PlagueGun/v15/.suo
Source/.vs/ProjectHeron/v15/.suo
Source/obj/Debug/CoreCompileInputs.cache
Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/obj/Debug/Duskilor.csproj.FileListAbsolute.txt
Source/obj/Debug/Duskilor.csprojResolveAssemblyReference.cache
Source/obj/Debug/Duskilor.dll
Source/obj/Debug/PlagueGun.csproj.FileListAbsolute.txt
Source/obj/Debug/PlagueGun.csprojResolveAssemblyReference.cache
Source/obj/Debug/ProjectHeron.csproj.FileListAbsolute.txt
Source/obj/Debug/ProjectHeron.csprojResolveAssemblyReference.cache
Source/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/obj/Debug/Werewolf.csproj.FileListAbsolute.txt
Source/obj/Debug/Werewolf.csprojResolveAssemblyReference.cache
Source/obj/Debug/Werewolf.dll
RimworldModReleaseTool.exe
